<h1>New Album</h1>

<%= form_for :album, url: albums_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :artist %><br>
    <%= f.text_area :artist %>
    </p>

  <p>
    <%= f.label :spotify_url %><br>
    <%= f.text_area :spotify_url %>
  </p>

  <p>
    <%= f.label :cover_url %><br>
    <%= f.text_area :cover_url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
